<ion-header>
  <ion-toolbar>
    <ion-title>Student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" required [(ngModel)]="todo.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
    </ion-item>
   
    <ion-button  type="submit" color="primary">Primary</ion-button>
  </form>
</ion-content>
