<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let data of apiData" >
    
      <ion-label>&nbsp;&nbsp; {{ data.title }}</ion-label>
    </ion-item>
   
  </ion-list>
</ion-content>