<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>StudentDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> {{ name.title }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ name.description }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
